h1{
    font-family: monospace;
}
.cuadro-inicio{
    height: 100vh;
    border-bottom: 25px solid #4aad45;
    border-top: 25px solid #164479;
}
.borde-azul{
    border-right: 2px solid #164479;
}
.borde-verde{
    border-right: 2px solid #4aad45;
}
.carta-formulario{
    text-align: center;
    border-left: 2px solid #164479;
}
.carta-reporte{
    text-align: center;
    border-left: 2px solid #4aad45;
}
.carta-formulario:hover, .carta-reporte:hover{
    margin-bottom: 5px;
}
.icon-menu{
    font-size: 50px;
    color:darkgrey;
}
.icon-menu:hover{
    color: goldenrod;
}
.formulario-div{
    background: #ededed;
    border-radius: 10px;
    padding: 10px;
}
.icon-registro{
    color: #c5c5c5;
    font-size: 110px;
}
.form-punteo{
    border:2px solid #eee;
    background:#ededed;
    padding: 10px;
    border-radius:8px;
}
